html, body, ul, li{
    margin:0;
    padding:0;
}

html, body{
    -webkit-user-select: none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select: none;

    tap-highlight-color:transparent;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;

    font-size: 16px;
    font-family: "Microsoft YaHei";
}

ul, li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-size:30px;

    position: absolute;
    top:5%;
    left:50%;
    transform: translate(-50%, 0);
}

.page1{
    background: url(../images/bg1.jpg);
}
.page2{
    background: url(../images/bg2.jpg);
}
.page3{
    background: url(../images/bg3.jpg);
}
.page4{
    background: url(../images/bg4.jpg);
}
.page5{
    background: url(../images/bg5.jpg);
}
.page1, .page2, .page3, .page4, .page5{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

.logo{
    position:absolute;
    top:20px;
    left:20px;
    height:60px;
}

.logo img{
    display:inline-block;
    width:60px;
    height:60px;
}

.logo li{
    display:inline-block;
    margin-left:10px;
    color:white;
}

.logo li.row1{
    position:absolute;
    top:5px;
    font-size:27px;
}
.logo li.row2{
    font-size:18px;
    position:relative;
    top:-5px;
}

.copywriting{
    position:absolute;
    left:50%;
    top:30%;
    z-index:1;

    color:white;
}

.copywriting > li{
    margin-bottom: 40px;
    position:relative;
}

.copywriting > li.row1{
    font-size:40px;
}

.copywriting > li.row2{
    font-size:30px;
}

.copywriting .download-android, .copywriting .download-ios{
    display:inline-block;
    width:200px;
    height:50px;
    cursor: pointer;

    margin-right:20px;
}

.copywriting .download-android{
    background: url(../images/android_normal.png);
    background-size: cover;
}

.copywriting .download-android:hover{
    background: url(../images/android_hover.png);
    background-size: cover;
}

.copywriting .download-android:active{
    background: url(../images/android_active.png);
    background-size: cover;
}

.copywriting .download-ios{
    background: url(../images/ios_normal.png);
    background-size: cover;
}

.copywriting .download-ios:hover{
    background: url(../images/ios_hover.png);
    background-size: cover;
}

.copywriting .download-ios:active{
    background: url(../images/ios_active.png);
    background-size: cover;
}

.copywriting .download-android{
    position:absolute;
    top:0;
}

.copywriting .QR-code{
    width:120px;
    height:120px;
}

.copywriting li.row4{
    font-size:50px;
    color: #b2e0d3;
}

.page1 .bigHand{
    width:50%;
    min-width:600px;

    position:absolute;
    bottom:-20px;
    left:-20px;
}
