html, body, ul, li{
    margin:0;
    padding:0;
}

html, body{
    -webkit-user-select: none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select: none;

    tap-highlight-color:transparent;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color:transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;

    font-size: 16px;
    font-family: "Microsoft YaHei";

    color:#404040;
}

ul, li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-size:30px;

    position: absolute;
    top:5%;
    /*left:35%;*/
    /*transform: translate(-50%, 0);*/

    width:100%;
}

.page1{
    background: url(../images/bg1.jpg);
}
.page2{
    background: url(../images/bg2.jpg);
}
.page3{
    background: url(../images/bg3.jpg);
}
.page4{
    background: url(../images/bg4.jpg);
}
.page5{
    background: url(../images/bg5.jpg);
}
.page1, .page2, .page3, .page4, .page5{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}


.arrow-container-down{
    position:absolute;
    bottom:0;
    text-align: center;
    width:100%;
}

.arrow-container-down span{
    display:inline-block;
    width:60px;
    height:30px;
    background:url(../images/arrow_down_bg.png);
    background-size:cover;
    cursor: pointer;
}

.arrow-container-down span img{
    position:relative;
    top:10px;
    width:26px;
    -webkit-animation: toggle 0.8s infinite;
    -moz-animation: toggle 0.8s infinite;
    -o-animation: toggle 0.8s infinite;
    animation:toggle 0.8s infinite;
}

.arrow-container-up{
    position:absolute;
    top:0;
    text-align: center;
    width:100%;
}

.arrow-container-up span{
    display:inline-block;
    width:60px;
    height:30px;
    background:url(../images/arrow_up_bg.png);
    background-size:cover;
    cursor: pointer;
}

.arrow-container-up span img{
    /*position:relative;*/
    /*bottom:10px;*/
    width:26px;
}

@-webkit-keyframes toggle {
    0% {
        top:8px;
    }

    50% {
        top:12px;
    }

    100%{
        top:8px;
    }
}

@-moz-keyframes toggle {
    0% {
        top:8px;
    }

    50% {
        top:12px;
    }

    100%{
        top:8px;
    }
}

@-o-keyframes toggle {
    0% {
        top:8px;
    }

    50% {
        top:12px;
    }

    100%{
        top:8px;
    }
}

@keyframes toggle {
    0% {
        top:8px;
    }

    50% {
        top:12px;
    }

    100%{
        top:8px;
    }
}

/*page1 start*/

.logo{
    position:absolute;
    top:20px;
    left:20px;
    width:240px;
    height:60px;

    background:url(../images/logo.png);
    background-size:cover;
}

.copywriting{
    position:absolute;
    left:55%;
    top:30%;
    z-index:1;

    color:white;
}

.copywriting > li{
    margin-bottom: 40px;
    position:relative;
}

.copywriting > li.row1{
    font-size:40px;
}

.copywriting > li.row2{
    font-size:30px;
}

.download-android, .download-ios{
    display:inline-block;
    width:200px;
    height:50px;
    cursor: pointer;

    margin-right:20px;
}

.download-android{
    background: url(../images/android_normal.png);
    background-size: cover;
}

.download-android:hover{
    background: url(../images/android_hover.png);
    background-size: cover;
}

.download-android:active{
    background: url(../images/android_active.png);
    background-size: cover;
}

.download-ios{
    background: url(../images/ios_normal.png);
    background-size: cover;
}

.download-ios:hover{
    background: url(../images/ios_hover.png);
    background-size: cover;
}

.download-ios:active{
    background: url(../images/ios_active.png);
    background-size: cover;
}

.download-android{
    position:absolute;
    /*top:0;*/
}

.QR-code{
    width:120px;
    height:120px;
}

.copywriting li.row4{
    font-size:50px;
    color: #b2e0d3;
}

.page1 .bigHand{
    width:50%;
    /*min-width:600px;*/

    position:absolute;
    left:-20px;
    bottom:-20px;
    -webkit-transform: translate(-120px, 120px);
    -moz-transform: translate(-120px, 120px);
    -o-transform: translate(-120px, 120px);
    transform: translate(-120px, 120px);
}

.page1.active .bigHand{
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition:-webkit-transform 1s;
    -moz-transition:-moz-transform 1s;
    -o-transition:-o-transform 1s;
    transition:transform 1s,left 1s;
}

.page1 .banner-MBdevice{
    display:none;
}

.page1 .copywriting li.row1{
    margin-left:40px;
    opacity: 0;
}

.page1 .copywriting li.row2{
    margin-left:80px;
    opacity: 0;
}

.page1 .copywriting li.row3{
    margin-left:120px;
    opacity: 0;
}

.page1 .copywriting li.row4{
    margin-left:160px;
    opacity: 0;
}

.page1 .copywriting li.row3 .download-ios{
    margin-left:40px;
}

.page1 .copywriting li.row3 .QR-code{
    margin-left:80px;
}

.page1.active .copywriting > li.row1, .page1.active .copywriting > li.row2, .page1.active .copywriting > li.row3, .page1.active .copywriting > li.row4{
    margin-left:0;
    opacity: 1;
    -webkit-transition:margin-left 0.6s, opacity 0.8s;
    -moz-transition:margin-left 0.6s, opacity 0.8s;
    -o-transition:margin-left 0.6s, opacity 0.8s;
    transition:margin-left 0.6s, opacity 0.8s;
}

.page1.active .copywriting li.row3 .download-ios, .page1.active .copywriting li.row3 .QR-code{
    margin-left:0;
    -webkit-transition:margin-left 1.0s ease-in;
    -moz-transition:margin-left 1.0s;
    -o-transition:margin-left 1.0s;
    transition:margin-left 1.0s;
}

/*page1 end*/

/*page2 start*/

.page2 h2{
    color:#05b380;
}

/*.page2 > div{*/
/*min-width:1100px;*/
/*}*/

.page2 div{
    text-align: center;
}

.page2 ul{
    display:inline-block;
    margin-left:10%;
}

.page2 .ul1{
    margin-left:0;
}

.page2 ul > li{
    text-align: center;
    margin-bottom:35px;
}

.page2 ul > li > img{
    width:250px;
    height:250px;
}

.page2 ul > li.row1{
    font-size:30px;
}

.page2 ul > li.row3, .page2 ul > li.row4{
    margin-bottom:15px;
    font-size:20px;
    color:#3f4140;
}

.page2 ul.ul1{
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -o-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0;
}

.page2 ul.ul3{
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -o-transform: translate(80px, 0px);
    transform: translate(80px, 0px);
    opacity: 0;
}

.page2.active ul{
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition:-webkit-transform 0.8s, opacity 0.8s;
    -moz-transition:-moz-transform 0.8s, opacity 0.8s;
    -o-transition:-o-transform 0.8s, opacity 0.8s;
    transition:transform 0.8s, opacity 0.8s;
}

/*.page2 .slide, .page2 .fp-slides, .page2 .fp-controlArrow{*/
/*display:none;*/
/*margin: 0;*/
/*padding: 0;*/
/*border: none;*/
/*}*/

/*page2 end*/

/*page3 start*/

.page3 div{
    text-align: center;
}

.page3 h2{
    color:white;
}

.page3 .page3-table{
    width:70%;
}

.page3 .page3-table-MBdevice{
    display:none;
}

.page3 .page3-teacher{
    width:10%;
    position:relative;
    top:50px;
}

.page3 .page3-teacher.female2{
    display:none;
}

.page3 .page3-teacher{
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -o-transform: translate(80px, 0px);
    transform: translate(80px, 0px);
    opacity: 0;
}

.page3 .female1, .page3 .female2{
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -o-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0;
}

.page3.active .page3-teacher, .page3.active .female1{
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition:-webkit-transform 0.8s, opacity 0.8s;
    -moz-transition:-moz-transform 0.8s, opacity 0.8s;
    -o-transition:-o-transform 0.8s, opacity 0.8s;
    transition:transform 0.8s, opacity 0.8s;
}

/*page3 end*/

/*page4 start*/

.page4 h2{
    color:#f77125;
}

.page4 div{
    text-align: center;
}

.page4 ul{
    position:relative;
    margin-top:5%;
    display : inline-block;
    width:38%;
    height : 200px;
}

.page4 ul.ul2, .page4 ul.ul4{
    margin-left:5%;
}

.page4 ul, .page4 ul > img, .page4 ul > li{
    display:inline-block;
}

.page4 ul > img{
    width:150px;
    position : absolute;
}

.page4 ul > li{
    width:60%;
    text-align: left;
    margin-left: 180px;
    line-height: 35px;
}

.page4 ul > li.row1{
    font-size:30px;
    margin-top:20px;
}

.page4 ul > li.row2{
    margin-top : 10px;
}

.page4 ul > li.row2, .page4 ul > li.row3{
    font-size:20px;
}

.page4 .ul1, .page4 .ul3{
    -webkit-transform: translate(80px, 0px);
    -moz-transform: translate(80px, 0px);
    -o-transform: translate(80px, 0px);
    transform: translate(80px, 0px);
    opacity: 0;
}

.page4 .ul2, .page4 .ul4{
    -webkit-transform: translate(-80px, 0px);
    -moz-transform: translate(-80px, 0px);
    -o-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0;
}

.page4.active .ul1,.page4.active .ul2,.page4.active .ul3,.page4.active .ul4{
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition:-webkit-transform 0.8s, opacity 0.8s;
    -moz-transition:-moz-transform 0.8s, opacity 0.8s;
    -o-transition:-o-transform 0.8s, opacity 0.8s;
    transition:transform 0.8s, opacity 0.8s;
}

/*page4 end*/

/*page5 start*/

.page5 div{
    text-align: center;
}

.page5 .downloadContainer{
    position:relative;
    margin-bottom: 70px;
    width: 345px;
    margin: 0 auto;
}

.page5 .downloadContainer-MBdevice{
    display:none;
}

.page5 .footer{
    position:absolute;
    /*left:50%;*/
    bottom:10px;
    /*transform: translate(-50%, 0);*/

    color:#838383;
    font-size:10px;

    width:100%;
}

.page5 .marginTop{
    margin-top:120px;
}

/*page5 end*/

@media screen and (max-width: 960px){

    .page1{
        background: url(../images/bg1_MBDevice.jpg);
    }
    .page2{
        background: url(../images/bg2_MBDevice.jpg);
    }
    .page3{
        background: url(../images/bg3_MBDevice.jpg);
    }
    .page4{
        background: url(../images/bg4_MBDevice.jpg);
    }
    .page5{
        background: url(../images/bg5_MBDevice.jpg);
    }
    .page1, .page2, .page3, .page4, .page5{
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .arrow-container-up, .arrow-container-down{
        display:none;
    }

    .section h2{
        display:none;
    }

    /*page1 start*/
    .copywriting {
        position:absolute;
        top:20px;
        left:20px;
    }

    .copywriting > li {
        margin-bottom: 10px;
        position: static;
    }

    .copywriting > li.row1{
        font-size:20px;
    }

    .copywriting > li.row2{
        font-size:16px;
    }

    .copywriting > li.row3, .copywriting > li.row4, .page1 .bigHand, #fp-nav, .logo{
        display:none;
    }

    .page1 .fp-tableCell{
        padding:30px;
    }

    .page1 .banner-MBdevice{
        display:block;
    }

    .page1 .banner-MBdevice img{
        width:30%;
        min-width:150px;
        margin:20px auto;
        display:block;
    }

    .download-android, .download-ios{
        position:static;
        display:block;
        margin:20px auto;
    }

    .banner-MBdevice-copywriting{
        text-align: center;
        color:#afe4cf;
        font-size:30px;
        margin-top:100px;
    }
    /*page1 end*/

    /*page2 start*/

    .page2 ul {
        margin-left: 0;
    }

    .page2 ul li{
        margin-bottom: 20px;
    }

    .page2 ul > li > img {
        width: 12em;
        height: 12em;
    }

    .page2 ul > li.row1 {
        font-size: 30px;
    }

    .page2 ul > li.row3, .page2 ul > li.row4 {
        font-size: 18px;
    }

    /*page2 end*/

    /*page3 start*/

    .page3 .page3-table{
        display: none;
    }

    .page3 .page3-table-MBdevice{
        display: inline;
        width:100%;
    }

    .page3 .page3-teacher.female1{
        display:none;
    }

    .page3 .page3-teacher.female2{
        display:inline;
        margin-right:80px;
    }

    .page3 .page3-teacher{
        width:100px;
        position: relative;
        top: -30px;
    }

    /*page3 end*/

    /*page4 start*/

    .page4 ul{
        display:block;
        margin:0;
        width:100%;
        height:20%;
    }

    .page4 ul.ul2, .page4 ul.ul4{
        margin-left:0;
    }

    .page4 ul > img {
        width: 5em;
        position: absolute;
        left: 1em;
    }

    .page4 ul > li {
        width: 60%;
        text-align: left;
        margin-left: 30%;
        line-height:26px;
    }

    .page4 ul > li.row1{
        font-size:20px;
        margin-top:0;
    }

    .page4 ul > li.row2{
        margin-top : 0;
    }

    .page4 ul > li.row2, .page4 ul > li.row3{
        font-size:15px;
    }

    .page4 .ul1{
        -webkit-transform: translate(80px, 0px);
        -moz-transform: translate(80px, 0px);
        -o-transform: translate(80px, 0px);
        transform: translate(80px, 0px);
        opacity: 0;
    }

    .page4 .ul2{
        -webkit-transform: translate(160px, 0px);
        -moz-transform: translate(160px, 0px);
        -o-transform: translate(160px, 0px);
        transform: translate(160px, 0px);
        opacity: 0;
    }

    .page4 .ul3{
        -webkit-transform: translate(240px, 0px);
        -moz-transform: translate(240px, 0px);
        -o-transform: translate(240px, 0px);
        transform: translate(240px, 0px);
        opacity: 0;
    }

    .page4 .ul4{
        -webkit-transform: translate(320px, 0px);
        -moz-transform: translate(320px, 0px);
        -o-transform: translate(320px, 0px);
        transform: translate(320px, 0px);
        opacity: 0;
    }

    /*page4 end*/

    /*page5 start*/

    .page5 .downloadContainer{
        display:none;
    }

    .page5 .downloadContainer-MBdevice{
        display:block;
    }

    .page5 .QR-code{
        width:10em;
        height:10em;
    }

    .page5 .marginTop{
        margin-top:0;
    }

    .page5 p{
        margin:5px;
    }

    /*page5 end*/
}

@media screen and (max-height: 500px){
    .page5 .footer{
        position:static;
        transform: none;
    }
}