body,html{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

ul, li{
    list-style: none;
    padding: 0;
    margin:0;
}

body{
    background: url(../images/background.png);
}

.none{
    display: none;
}

.toolBar{
    width:10%;
    position:fixed;
    top:0;
    left:0;
    background-color: #d9cd9c;
    height:100%;
    border-right:2px solid #d0c298;
}

.toolBar button.hover {
    background-color:white;
    border:1px solid gray;
    color:gray;
}
.toolBar span{
    display: inline-block;
    width:60%;
    margin-top: 45%;
    margin-left: 20%;
}

.toolBar > div{
    margin-top: 45%;
}

/*.toolBar span.hangup, .toolBar span.photograph{*/
/*margin-top: 10%;*/
/*margin-bottom: 55%;*/
/*}*/

/*.toolBar span.photograph, .toolBar span.colorSpan.black{*/
/*margin-top: 50%;*/
/*}*/

.toolBar span img{
    width:100%;
}

.toolBar .hand.hover{
    outline:1px dashed red;
}

.colorSwitch{
    position:relative;
}

.colorSwitch > img {
    width:60%;
    margin-left:20%;
    z-index:1000;
}

.colorBar li{
    display:inline-block;
    position:absolute;
    top:0;
    -webkit-transition:-webkit-transform 0.2s;
    -moz-transition:-moz-transform 0.2s;
    -o-transition:-o-transform 0.2s;
    transition:transform 0.2s;
}

.colorBar li > img{
    display:none;
    margin-left:20%;
    width:60%;
}

.colorBar .black, .colorBar .blue, .colorBar .red{
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -o-transform:translateX(0);
    transform:translateX(0);
}

.colorSwitch .colorBarBG{
    position:absolute;
    top:-10px;
    width:0px;
    height:60px;
    background-color: black;
    opacity: 0.3;
    border-radius: 60px;
    z-index:-10;

    -webkit-transition:width 0.2s;
    -moz-transition:width 0.2s;
    -o-transition:width 0.2s;
    transition:width 0.2s;
}

.colorSwitch.hover .colorBar li > img{
    display:block;
}

.colorSwitch.hover .colorBar .black{
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);
}

.colorSwitch.hover .colorBar .blue{
    -webkit-transform:translateX(200%);
    -moz-transform:translateX(200%);
    -o-transform:translateX(200%);
    transform:translateX(200%);
}

.colorSwitch.hover .colorBar .red{
    -webkit-transform:translateX(300%);
    -moz-transform:translateX(300%);
    -o-transform:translateX(300%);
    transform:translateX(300%);
}

.colorSwitch.hover .colorBarBG{
    display:block;
    width:260px;
    transition:width 0.2s;
}

.scrollBar{
    position:fixed;
    right:2%;
    bottom:5%;
    color:#b0ada6;
    font-family: '微软雅黑';
}

.scrollBar span#prePage, .scrollBar span#nextPage{
    display: inline-block;
    width:20px;
    height:20px;
    margin:0 10px;
}

.scrollBar span > img{
    width:100%;
}

.tips{
    position:fixed;
    top:50%;
    left:50%;
    width:100px;
    height:100px;
    background-color: #000000;
    opacity: 0.5;
    border-radius: 12px;
    transform:translate(-50%,-50%);
    z-index:100;
}

.tips img{
    width:100%;
    opacity: 1;
}

canvas{
    margin-left:10%;
}

#canvasIn{
    position:absolute;
    top:0;
    left:0;
    z-index: -20;
}

.loadPhoto{
    position:absolute;
    top:20%;
    left:15%;
    width:50%;
    z-index: -1000;
}

.loadPhoto img{
    width:100%;
    margin-bottom:20px;
}

.closeSpan{
    position:fixed;
    top:10px;
    right:10px;
    width:50px;
}

.closeSpan > img{
    width:100%;
}