html, body, img, div {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background: url(../img/bg_Starry_sky.jpg) no-repeat;
    background-size: cover;

    padding-top: 20px;
}

.container .title {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
}

.container .activity-rules {
    display: block;
    width: 40px;
    height: 100px;
    background: url(../img/btn_Activity_rule_n.png);
    background-size: 100% 100%;

    position: absolute;
    top: 220px;
    left: 0px;
}

.container .activity-rules:active {
    background: url(../img/btn_Activity_rule_h.png);
    background-size: 100% 100%;
}

.container .check-in {
    display: block;
    width: 180px;
    height: 180px;
    background: url(../img/btn_Moon_Sign.png);
    background-size: 100% 100%;
    margin: 50px auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 40px 20px rgba(45, 221, 245, 0.6);
}

.container .check-in > span.increasePoints {
    display: inline-block;
    font-size: 40px;
    color: #FCDC51;
    font-weight: bolder;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
    opacity: 0;
    position: relative;
    left: 20px;

    /*-webkit-transition: all 0.5s;*/
    /*-o-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
    /*transition: all 0.5s;*/
}

.container .check-in > span.increaseStar {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: url(../img/pic_Stars_Bright.png) no-repeat;
    background-size: 100% 100%;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    -o-transform: translate(0, 100px);
    transform: translate(0, 100px);
    opacity: 0;
    position: relative;
    left: -30px;

    /*-webkit-transition: all 0.5s;*/
    /*-o-transition: all 0.5s;*/
    /*-moz-transition: all 0.5s;*/
    /*transition: all 0.5s;*/
}

.container .check-in.hover.animate > span.increasePoints {
    /*-webkit-transform: translate(0, 0);*/
    /*-moz-transform: translate(0, 0);*/
    /*-o-transform: translate(0, 0);*/
    /*transform: translate(0, 0);*/
    /*opacity:0;*/
    -webkit-animation: fadeDisplay 0.5s;
    -moz-animation: fadeDisplay 0.5s;
    -o-animation: fadeDisplay 0.5s;
    animation: fadeDisplay 0.8s;
}

.container .check-in.hover.animate > span.increaseStar {
    /*-webkit-transform: translate(0, 0);*/
    /*-moz-transform: translate(0, 0);*/
    /*-o-transform: translate(0, 0);*/
    /*transform: translate(0, 0);*/
    /*opacity:0;*/
    -webkit-animation: fadeDisplay2 2s;
    -moz-animation: fadeDisplay2 2s;
    -o-animation: fadeDisplay2 2s;
    animation: fadeDisplay2 2s;
}

@keyframes fadeDisplay {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }
    100% {
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeDisplay {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }
    100% {
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
        opacity: 0;
    }
}

@-moz-keyframes fadeDisplay {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }
    100% {
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
        opacity: 0;
    }
}

@-o-keyframes fadeDisplay {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }
    100% {
        -webkit-transform: translate(0, -50px);
        -moz-transform: translate(0, -50px);
        -o-transform: translate(0, -50px);
        transform: translate(0, -50px);
        opacity: 0;
    }
}

@keyframes fadeDisplay2 {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(0px, 200px) rotate(170deg);
        -moz-transform: translate(0px, 200px) rotate(170deg);
        -o-transform: translate(0px, 200px) rotate(170deg);
        transform: translate(0px, 200px) rotate(170deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 300px) rotate(360deg);
        -moz-transform: translate(0, 300px) rotate(360deg);
        -o-transform: translate(0, 300px) rotate(360deg);
        transform: translate(0, 300px) rotate(360deg);
    }
    100% {
        -webkit-transform: translate(0, 300px);
        -moz-transform: translate(0, 300px);
        -o-transform: translate(0, 300px);
        transform: translate(0, 300px);
        opacity: 0;
    }
}

@-webkit-keyframes fadeDisplay2 {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(0px, 200px) rotate(170deg);
        -moz-transform: translate(0px, 200px) rotate(170deg);
        -o-transform: translate(0px, 200px) rotate(170deg);
        transform: translate(0px, 200px) rotate(170deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 300px) rotate(360deg);
        -moz-transform: translate(0, 300px) rotate(360deg);
        -o-transform: translate(0, 300px) rotate(360deg);
        transform: translate(0, 300px) rotate(360deg);
    }
    100% {
        -webkit-transform: translate(0, 300px);
        -moz-transform: translate(0, 300px);
        -o-transform: translate(0, 300px);
        transform: translate(0, 300px);
        opacity: 0;
    }
}

@-moz-keyframes fadeDisplay2 {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(0px, 200px) rotate(170deg);
        -moz-transform: translate(0px, 200px) rotate(170deg);
        -o-transform: translate(0px, 200px) rotate(170deg);
        transform: translate(0px, 200px) rotate(170deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 300px) rotate(360deg);
        -moz-transform: translate(0, 300px) rotate(360deg);
        -o-transform: translate(0, 300px) rotate(360deg);
        transform: translate(0, 300px) rotate(360deg);
    }
    100% {
        -webkit-transform: translate(0, 300px);
        -moz-transform: translate(0, 300px);
        -o-transform: translate(0, 300px);
        transform: translate(0, 300px);
        opacity: 0;
    }
}

@-o-keyframes fadeDisplay2 {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 1;
        -webkit-transform: translate(0px, 200px) rotate(170deg);
        -moz-transform: translate(0px, 200px) rotate(170deg);
        -o-transform: translate(0px, 200px) rotate(170deg);
        transform: translate(0px, 200px) rotate(170deg);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 300px) rotate(360deg);
        -moz-transform: translate(0, 300px) rotate(360deg);
        -o-transform: translate(0, 300px) rotate(360deg);
        transform: translate(0, 300px) rotate(360deg);
    }
    100% {
        -webkit-transform: translate(0, 300px);
        -moz-transform: translate(0, 300px);
        -o-transform: translate(0, 300px);
        transform: translate(0, 300px);
        opacity: 0;
    }
}

.container .check-in.hover {
    background: url(../img/btn_Moon_Signed_in.png);
    background-size: 100% 100%;
    box-shadow: 0 0 40px 15px rgba(235, 233, 182, 0.6);
}

.container .integral {
    color: #fcdc51;
    text-align: center;
    font-size: 20px;
}

.container .star-bar {
    height: 50px;
    width: 100%;
    margin: 0 auto 20px auto;

    background: url(../img/bg_Five_line.png) no-repeat;
    background-size: 100% 100%;

    text-align: center;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container .star-bar > img {
    height: 100%;
    width: auto;
    display: inline-block;
    margin: 0 8px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container .description {
    color: #fcdc51;
    text-align: center;
    font-size: 14px;

    margin: 0;
}

.container .dialTitleDiv {
    height: 100px;
    width: 100%;

    text-align: center;
    margin-top: 20px;
}

.container .dialTitleDiv .buble {
    height: 60%;
    width: auto;

    margin-left: -20px;
}

.container .dialTitleDiv .dialTitle {
    height: 100%;
    width: auto;

    margin-left: -10px;
}

.container .dialTitleDiv > span {
    color: #fcdc51;
    font-size: 16px;

    position: relative;
    bottom: 15px;
}

.container .dialContainer {
    width: 86%;
    height: auto;

    background: url(../img/pic_Frame.png) no-repeat;
    background-size: 100% 100%;

    padding: 9% 7% 8% 7%;

    margin-bottom: 20px;
}

.container .dialContainer:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

.container .dialContainer > span {
    display: inline-block;
    width: 25%;
    height: auto;
    float: left;
    position: relative;
}

.container .dialContainer > span > img {
    width: 96%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    left: 2px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.container .dialContainer span img:nth-of-type(2),
.container .dialContainer span.pullLeft span img:nth-of-type(2) {
    display: none;
}

.container .dialContainer span.active > img {
    box-shadow: 0 0 5px 5px #2dddf5;
    -webkit-filter: saturate(3);
    -moz-filter: saturate(3);
    -o-filter: saturate(3);
    filter: saturate(3);
}

.container .dialContainer span.active > img:nth-of-type(1) {
    display: none;
}

.container .dialContainer span.active > img:nth-of-type(2),
.container .dialContainer span.pullLeft span.active > img:nth-of-type(2) {
    display: inline-block;
}

.container .dialContainer > span > p {
    position: absolute;
}

.container .dialContainer span > p.description {
    top: 20%;
    /*left: 20%;*/
    color: white;
    width: 100%;
    font-size: 12px;
}

.container .dialContainer span > p.description em {
    font-size: 14px;
    font-style: normal;
}

.container .dialContainer span > p.type {
    margin: 0;
    bottom: 10px;
    /*left: 20%;*/
    color: white;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.container .dialContainer > span.lotteryBtn {
    width: 50%;
    height: auto;
}

.container .dialContainer > span.lotteryBtn > img:last-of-type {
    position: absolute;
    top: 0;
    left: 2px;
    display: block !important;
}

.container .dialContainer > span.lotteryBtn:active > img:last-of-type {
    opacity: 0;
}

.container .dialContainer .pullLeft {
    width: 25%;
}

.container .dialContainer .pullLeft span {
    width: 100%;
}

.container .dialContainer .pullLeft span img {
    width: 96%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    left: 2px;
}

.container .dialContainer .pullLeft > span {
    position: relative;
    float: left;
}

.container .dialContainer .pullLeft > span > p {
    position: absolute;
}

.container .scrollDiv {
    overflow: hidden;
    color: #fcdc51;
    text-align: center;
    height: 100px;

    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container .scrollDiv p {
    margin: 0;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.container .scrollDiv .name, .container .scrollDiv .award {
    color: #ff6138;
}

.container .scrollDiv .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.container .brightLine {
    width: 100%;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

.none {
    display: none !important;
}

.mask .freeChanceAlert > img {
    /*display:block;*/
    width: 80%;
    margin: 60px auto;
}

.mask .freeChanceAlert > span {
    display: inline-block;
    width: 200px;
    height: 60px;
    position: relative;
}

.mask .freeChanceAlert > span > img {
    width: 100%;
}

.mask .freeChanceAlert > span > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mask .freeChanceAlert > span > img:nth-of-type(0) {
    display: block;
}

.mask .freeChanceAlert > span > img:nth-of-type(1) {
    display: none;
}

.mask .freeChanceAlert > span:active > img:nth-of-type(0) {
    display: none;
}

.mask .freeChanceAlert > span:active > img:nth-of-type(1) {
    display: block;
}

.mask .activityRulesAlert h2 {
    color: #ff6138;
    margin-top: -40px;
}

.mask .activityRulesAlert img {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}

.mask .activityRulesAlert img.line {
    margin-top: 30px;
}

.mask .activityRulesAlert p {
    color: white;
    text-align: left;
    margin: 0 10%;
    font-size: 12px;
    padding-left: 0.7em;
    text-indent: -0.7em;
}

.mask .activityRulesAlert > span {
    display: inline-block;
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 20px;
}

.mask .activityRulesAlert > span > img {
    width: 100%;
}

.mask .activityRulesAlert > span > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mask .activityRulesAlert > span > img:nth-of-type(0) {
    display: block;
}

.mask .activityRulesAlert > span > img:nth-of-type(1) {
    display: none;
}

.mask .activityRulesAlert > span:active > img:nth-of-type(0) {
    display: none;
}

.mask .activityRulesAlert > span:active > img:nth-of-type(1) {
    display: block;
}

.mask .extraIntegralGetAlert img {
    width: 80%;
    margin: 0 auto;
}

.mask .extraIntegralGetAlert .extraItegral {
    color: #fde651;
    font-size: 50px;
    margin-top: -130px;
    font-weight: bolder;
}

.mask .extraIntegralGetAlert > span {
    display: inline-block;
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 20px;
}

.mask .extraIntegralGetAlert > span > img {
    width: 100%;
}

.mask .extraIntegralGetAlert > span > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mask .extraIntegralGetAlert > span > img:nth-of-type(0) {
    display: block;
}

.mask .extraIntegralGetAlert > span > img:nth-of-type(1) {
    display: none;
}

.mask .extraIntegralGetAlert > span:active > img:nth-of-type(0) {
    display: none;
}

.mask .extraIntegralGetAlert > span:active > img:nth-of-type(1) {
    display: block;
}

.mask .bindPhoneNumber > img {
    /*display:block;*/
    width: 80%;
    margin: 60px auto;
}

.mask .bindPhoneNumber > span {
    display: inline-block;
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 20px;
}

.mask .bindPhoneNumber > span > img {
    width: 100%;
}

.mask .bindPhoneNumber > span > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mask .bindPhoneNumber > span > img:nth-of-type(0) {
    display: block;
}

.mask .bindPhoneNumber > span > img:nth-of-type(1) {
    display: none;
}

.mask .bindPhoneNumber > span:active > img:nth-of-type(0) {
    display: none;
}

.mask .bindPhoneNumber > span:active > img:nth-of-type(1) {
    display: block;
}

.mask .congratulationAlert img {
    width: 80%;
    margin: 0 auto;
}

.mask .congratulationAlert .reward {
    color: #fde651;
    font-size: 35px;
    margin-top: -150px;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
}

.mask .congratulationAlert > span {
    display: inline-block;
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 20px;
}

.mask .congratulationAlert > span.shareBtn {
    width: 230px;
}

.mask .congratulationAlert > span > img {
    width: 100%;
}

.mask .congratulationAlert > span > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mask .congratulationAlert > span > img:nth-of-type(0) {
    display: block;
}

.mask .congratulationAlert > span > img:nth-of-type(1) {
    display: none;
}

.mask .congratulationAlert > span:active > img:nth-of-type(0) {
    display: none;
}

.mask .congratulationAlert > span:active > img:nth-of-type(1) {
    display: block;
}

.mask .drawRecordDialog h2 {
    color: #ff6138;
    margin-top: -40px;
}

.mask .drawRecordDialog img {
    width: 80%;
    margin: 20px auto 0 auto;
    display: inline-block;
}

.mask .drawRecordDialog .tablerContainer {
    width: 80%;
    margin: 0 auto;
}

.mask .drawRecordDialog table {
    width: 100%;
}

.mask .drawRecordDialog th {
    color: #2dddf5;
}

.mask .drawRecordDialog td {
    color: #fff;
    font-size: 12px;
}

/*.mask .drawRecordDialog tr{*/
/*background:url('../img/pic_table_line.png') no-repeat;*/
/*background-size:cover;*/
/*}*/

.mask .drawRecordDialog tr td.divider {
    height: 3px;
    padding: 0;
    margin-top: -20px;
    position: relative;
    top: -5px;
}

.mask .drawRecordDialog tr td img {
    width: 100%;
    margin: 0;
}

.mask .drawRecordDialog .tbodyContainer {
    height: 300px;
    overflow: auto;
}

.mask .drawRecordDialog .tbodyContainer .emptyTip {
    color: white;
    text-align: center;
    line-height: 300px;
}

.mask .drawRecordDialog td {
    width: 30%;
}

.mask .drawRecordDialog > span {
    display: inline-block;
    width: 150px;
    height: 40px;
    position: relative;
    margin-top: 20px;
}

.mask .drawRecordDialog > span > img {
    width: 100%;
}

.mask .drawRecordDialog > span > img:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.mask .drawRecordDialog > span > img:nth-of-type(0) {
    display: block;
}

.mask .drawRecordDialog > span > img:nth-of-type(1) {
    display: none;
}

.mask .drawRecordDialog > span:active > img:nth-of-type(0) {
    display: none;
}

.mask .drawRecordDialog > span:active > img:nth-of-type(1) {
    display: block;
}

@media screen and (min-height: 500px) {
    .mask .activityRulesAlert > span,
    .mask .freeChanceAlert > span,
    .mask .extraIntegralGetAlert > span,
    .mask .bindPhoneNumber > span.closeBtn,
    .mask .congratulationAlert > span.closeBtn {
        margin-top: 80px;
    }
}

@media screen and (min-height: 600px) {
    .mask .activityRulesAlert,
    .mask .freeChanceAlert,
    .mask .extraIntegralGetAlert,
    .mask .bindPhoneNumber,
    .mask .congratulationAlert {
        margin-top: 100px;
    }

    .mask .drawRecordDialog .tbodyContainer {
        height: 400px;
        overflow: auto;
    }

    .mask .drawRecordDialog .tbodyContainer .emptyTip {
        line-height: 400px;
    }

    .container .dialContainer span > p.description {
        top: 23%;
    }
}