html, body, img, ul, li, div {
    padding: 0;
    margin: 0;
    border: none;
}

.none {
    display: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    font-size: 0;
}

.top {
    width: 100%;
}

.container > .middle {
    position: relative;
    /*font-size: 24px;*/
}

.container > .middle > img {
    width: 100%;
}

.container > .middle > div {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

input, input:hover, input:active, input:focus {
    border: none;
}

#phoneNum, #submit {
    font-size: 20px;
    width: 60%;
    border-radius: 30px;
    padding: 15px 30px;
    display: inline-block;
    text-align: center;
    /*line-height: 45px;*/
}

#phoneNum {
    margin: 15px 0;
}

#submit {
    background: url("../images/submit.png") no-repeat;
    background-size: 100% 100%;
    color: #e43829;
    padding: 20px 30px;
}

#submit:hover {
    background: url('../images/submit_hover.png') no-repeat;
    background-size: 100% 100%;
}

.container > .bottom {
    color: white;
    font-size: 14px;
    position: relative;
}

.container > .bottom > img {
    width: 100%;
}

.bottom > h3 {
    position: absolute;
    top: -10px;
    text-align: center;
    width: 100%;
}

.bottom > h3 > span {
    letter-spacing: -1px;
}

.bottom > ul {
    position: absolute;
    top: 40px;
    /*padding: 0 50px;*/
    list-style: none;
    line-height: 17px;
    width: 100%;
}

.bottom > ul > li {
    padding-left: 12px;
    text-indent: -12px;
    margin: 0 10%;
}
