html, body, img, ul, li, div {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'Microsoft Yahei';
}

body {
    background-color: #ffedbc;
}

.none {
    display: none;
}

.opacity0 {
    opacity: 0;
    -webkit-transition: opacity 0.9s;
    -moz-transition: opacity 0.9s;
    -o-transition: opacity 0.9s;
    transition: opacity 0.9s;
}

::-webkit-input-placeholder {
    color: #ffedbc;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ffedbc;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffedbc;
}

:-ms-input-placeholder {
    color: #ffedbc;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    font-size: 0;
}

.top {
    width: 100%;
}

.container .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
}

.container > .middle {
    position: relative;
    /*font-size: 24px;*/
}

.container > .middle > img {
    width: 100%;
}

.container > .middle > div {
    text-align: center;
    width: 100%;
}

input, input:hover, input:active, input:focus {
    border: none;
}

#phoneNum, #submit, #downloadBtn {
    font-size: 20px;
    width: 60%;
    padding: 12px 30px;
    display: inline-block;
    text-align: center;
    /*line-height: 45px;*/
    z-index: 20;
}

#phoneNum {
    margin: 15px 0;
    background: url(../images/pic-input.png) no-repeat;
    background-size: 100% 100%;
}

#submit, #downloadBtn {
    background: url("../images/btn-open-n.png") no-repeat;
    background-size: 100% 100%;
    height: 90px;
    margin-bottom: -20px;
}

#downloadBtn {
    background: url("../images/btn-download-n.png") no-repeat;
    background-size: 100% 100%;
    height:70px;
}

#submit:active {
    background: url('../images/btn-open-h.png') no-repeat;
    background-size: 100% 100%;
}

#downloadBtn:active {
    background: url("../images/btn-download-h.png") no-repeat;
    background-size: 100% 100%;
}

.container > .bottom {
    color: #c5913f;
    position: relative;
    font-size: 0;
}

.container > .bottom h3, .container > .bottom ul {
    font-size: 14px;
}

.container > .bottom > img {
    width: 100%;
}

.container > .bottom > img.luckyImg {
    width: 25%;
    margin: 0 auto 30px auto;
    display: block;
}

.container .bottom > h3 {
    text-align: center;
    width: 100%;
    font-size: 23px;
}

.bottom > h3 > span {
    letter-spacing: -1px;
}

.bottom > ul {
    /*padding: 0 50px;*/
    list-style: none;
    line-height: 17px;
    width: 100%;
}

.bottom > ul > li {
    padding-left: 12px;
    text-indent: -12px;
    margin: 10px 10%;
}

.bottom > .voucher {
    width: 220px;
    height: 126px;
    position: relative;
    background: url(../images/voucher.png) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: 8px;
}

.bottom > .voucher > span {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    color: #ffedbc;
    font-size: 35px;
    /*-webkit-animation: twinkle 0.9s infinite;*/
    /*-moz-animation: twinkle 0.9s infinite;*/
    /*-o-animation: twinkle 0.9s infinite;*/
    /*animation: twinkle 0.9s infinite;*/

    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

@keyframes twinkle {
    50% {
        color: #fff6c3;
    }
}

@-webkit-keyframes twinkle {
    50% {
        color: #fff6c3;
    }
}

@-moz-keyframes twinkle {
    50% {
        color: #fff6c3;
    }
}

@-o-keyframes twinkle {
    50% {
        color: #fff6c3;
    }
}

.bottom > .text {
    width: 100%;
    text-align: center;
    color: #c5913f;
    z-index: 20;
}

.bottom > .text > p {
    margin: 0;
    font-size: 14px;
}

.bottom > .text > .whiteText {
    color: white;
    position: absolute;
    top: -40%;
    width: 100%;
    font-size: 20px;
    display: none;
}

.bottom > .text > #submit, .bottom > .text > #downloadBtn {
    width: 50%;
    padding: 15px 20px;
    margin-top: 10px;
}

.bottom > .href {
    width: 100%;
    text-align: center;
    color: #404040 !important;
    z-index: 1000;
    margin-top: 30px;
    margin-bottom: 20px;
}

.bottom .divider {
    border-top: 1px solid white;
    width: 25%;
    height: 2px;
    display: inline-block;
    position: relative;
    top: -3px;
}

a:link, a:active, a:visited, a:hover {
    color: #c5913f;
    text-decoration: none;
    font-size: 12px;
    margin-top: 30px;
}

.hrefAfter {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.tickets {
    width: 100%;
    height: 120%;
    position: absolute;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    -webkit-animation: tickets 0.5s infinite;
    -moz-animation: tickets 0.5s infinite;
    -o-animation: tickets 0.5s infinite;
    animation: tickets 0.5s infinite;
}

@keyframes tickets {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -5px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-webkit-keyframes tickets {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -5px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-moz-keyframes tickets {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -5px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

@-o-keyframes tickets {
    0% {
        -webkit-transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -5px);
    }
    100% {
        -webkit-transform: translate(0, 0);
    }
}

.loader {
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.mask {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

.mask .tip {
    width: 250px;
    text-align: center;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.mask .tip > .tip-footer {
    border-top: 1px solid #00b3ee;
}

.mask .tip > .tip-content {
    padding: 30px;
}

.mask .tip > .tip-footer {
    padding: 15px;
    color: #00B7FF;
}

.mask .tip > .tip-footer:active {
    background-color: #efefef;
}

.result .bottom .pickle {
    width: 100%;
    text-align: center;
    color: #f6594d;
    font-size: 18px;
}

.result .bottom .pickle p {
    margin: 0;
}

.result .text .description {
    font-size: 14px;
}