html, body {
    padding: 0;
    margin: 0;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}
